/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    --color: #1e1e1e;
    background-color: #0c0c0c;
    background-image: linear-gradient(
        0deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      ),
      linear-gradient(
        90deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      );
    background-size: 55px 55px;
    font-family: "Roboto", sans-serif;
}

/* div publicidad  */
.banner-publicidad{
    padding: 1rem;
    background-color: #DDD0C8;
    text-align: center;
    text-transform: uppercase;
}

/* header */
header{
    width: 100% !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/200139-912119482_tiny.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

header img{
    width: 80%;
    filter: drop-shadow(3px 3px 20px rgb(241, 240, 240));
}

header h1, header p {
    color: rgb(28, 28, 28);
    text-shadow: 2px 2px #DDD0C8;
}

header .boton{
    background-color: #DDD0C8;
    padding: 0.8rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}

/* div publicidad  */
.banner-publicidad-dos{
    padding: 1rem;
    background-color: #DDD0C8;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
}

/* main  */

main{
    height: 100vh;
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

main h2{
    margin: 1rem;
    font-weight: 300;
    color: whitesmoke;
    text-align: center;
}

main .canva{
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

main div img{
    width: 100%;
}

/* section dudas */

.dudas{
    margin: 0 1rem;
    opacity: 0.5;
    background-size:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.dudas .fila .item{
    background-color: #191919;
    padding: 1rem;
    border-radius: 10px;
}

.dudas div div img, .beneficios div div img{
    margin-bottom: 1rem;
    width: 20%;
    animation: flotar 2s infinite;
}

@keyframes flotar {
    0% {
        transform: translateY(10px);
    }
    50% {
    transform: translateY(15px);
    }
    100% {
    transform: translateY(10px);
    }
}

section h2, section div h3{
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 1.7rem;
}

.dudas .item{
    margin-top: 2rem;
}


.invitaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    font-size: 1.1rem;
    font-weight: 300;
    color: whitesmoke;
    text-align: center;
}

.invitaciones h2{
    margin-bottom: 3rem;
}

.beneficios div{
    padding: 1rem;
    box-shadow: 3px 3px 20px black;
}


.beneficios{
    opacity: 0.5;
    background-size:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    
}

.beneficios h2, section div h3{
    text-transform: uppercase;
}

.beneficios .fila .item{
    background-color: #191919;
    padding: 1rem;
    border-radius: 10px;
}

.beneficios div div img{
    width: 15%;
    margin-bottom: 1rem;
}

.beneficios .item{
    margin-top: 2rem;
}

footer{
    color: whitesmoke;
    margin-top: 2rem;
    text-align: center;
}

footer a{
    text-decoration: none;  
    color: whitesmoke;
}

footer .redes{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer .redes img{
    width: 5%;
}

footer .legal{
    font-weight: lighter;
    font-size: 0.9rem;
}

.invitacion{
    background-image: url("../img/fondo-de-textura-de-pared-sucia-blanca.jpg");
    margin: 0px;
    padding: 2rem 0px;
    background-color: rgb(197, 191, 191);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.inicio div img{
    width: 90%;
}

.invitacion .incio .p-uno{
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.inicio .p-dos{
    font-weight: lighter;
    font-size: 2.4rem;
    font-family: "WindSong", cursive;
}

.timmer .timmer-sen{
    background-color: #EDE5F3;
}

.timmer .invite-dias{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.invite-dias .mes{
    font-size: 1.5rem;
}

.invite-dias .dia, .invite-dias .ano{
    border-top: 2px solid #EDE5F3;
    border-bottom: 2px solid #EDE5F3;
}

.timmer .civil{
    margin-top: 2rem;
}

.timmer .civil img{
    width: 40%;
    padding: 1.3rem;
}

.timmer .civil .registro{
    font-family: "WindSong", cursive;
    font-weight: lighter;
    font-size: 1.3rem;
}

.timmer .direccion .boton-invite, .celebracion .boton-invite{
    font-weight: bold;
    background-color: #EDE5F3;
    display: inline-block;
    padding: 0.8rem 2rem;
    margin: 1rem;
    border-radius: 20px;
}

.celebracion .copas img{
    margin-top: 1rem;
    width: 40%;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.celebracion .copas img, .civil  img{
    margin-bottom: 1rem;
    width: 20%;
    animation: flotar 2s infinite;
}

@keyframes flotar {
    0% {
        transform: translateY(10px);
    }
    50% {
    transform: translateY(15px);
    }
    100% {
    transform: translateY(10px);
    }
}

.fotos-pareja .fotos{
    display: flex;
    justify-content: center;
}

.fotos div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dress .flores, .dress .flores-dos{
    display: flex;
}

.flores-dos{
    justify-content: end;
}

.dress .flores img{
    width: 50%;
}

.dress .p-uno{
    font-family: "WindSong", cursive;
    font-size: 2rem;
}

.dress .parrafo{
    font-weight: lighter;
    line-height: 1.6rem;
    margin-top: 2rem;
    padding: 0px 3rem;
}

.final .flores{
    display: flex;
    justify-content: end;
}

.final .flores img{
    width: 40%;
}

.final .parrafo{
    font-weight: lighter;
    line-height: 1.6rem;
    margin-top: 2rem;
    padding: 0px 3rem;
}

.final .boton-invite{
    font-weight: bold;
    background-color: #EDE5F3;
    display: inline-block;
    padding: 0.8rem 2rem;
    margin: 1rem;
    border-radius: 20px;
}





@media screen and (min-width: 768px) {
    .banner-publicidad{
        font-size: 1.3rem;
    }

    header{
        height: 100vh;
    }

    header h1{
        font-size: 3rem;
    }

    header p{
        font-size: 1.8rem;
    }

    header .boton{
        margin-top: 3rem;
        font-size: 1.5rem;
    }
    .banner-publicidad-dos{
        font-size: 1.3rem;
    }

    /* section dudas */
    main h2{
        font-size: 2.5rem;
    }

    main .h-dos{
        font-size: 1.8rem;
    }

    section h2{
        font-size: 2.3rem;
    }

    .invitaciones h2{
        font-size: 2.3rem;
    }

    .invitaciones p{
        margin-top: 2rem;
        font-size: 1.8rem;
    }

    .fila{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    main{
       height: 150vh;
    }

    .invitaciones{
        height: 80vh;
    }
    /* section dudas */
    .fila{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }

    footer .redes img{
        width: 2%;
    }
}

@media screen and (min-width: 1300px){
    header{
        height: 130vh;
    }
    main{
        height: 180vh;
     }
}


.invitacion-dos{
    background-image: url("../img/fondo-invite-dos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(238, 216, 220);

}

.invitacion-dos .timmer-invite{
    background-color: #DBC7D9;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.invitacion-dos .boton-invite{
    font-weight: bold;
    background-color: #EDE5F3;
    display: inline-block;
    padding: 0.8rem 2rem;
    margin: 1rem;
    border-radius: 20px;
    color: rgb(84, 84, 84);
}

.invitacion-dos .timmer-invite p{
    font-size: 45px;
    font-family: "WindSong", cursive;
    color: whitesmoke;
}

.invitacion-dos .donde-cuando{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invitacion-dos .donde-cuando img{
    width: 90%;
}

.invitacion-dos .donde-cuando p{
    font-size: 45px;
    font-family: "WindSong", cursive;
    color: rgb(84, 84, 84);
}


.invite-dias{
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
}

/* invite bian */

.invitacion-bian{
    background: #BDDDA8;
    background: linear-gradient(182deg,rgba(189, 221, 168, 0.61) 40%, rgba(90, 105, 83, 0.65) 100%);    
}

.invitacion-bian .inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invitacion-bian .timmer-invite {
    height: 100vh;
    background-image: url("../img/mariposa.png");
    background-size: contain;
}

.invitacion-bian .timmer .timmer-invite{
    background-color: #BDDDA8;
}

.invitacion-bian .timmer-sen{
    background-color: transparent;
}

.invitacion-bian .timmer .timmer-invite #demo{
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 2rem;
}

